@charset "UTF-8";
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

* {
  font-feature-settings: "palt";
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 1.8;
  color: #333;
}
@media screen and (max-width: 1432px) {
  body {
    font-size: max(1.5vw, 16px);
  }
}

.body--noScroll {
  overflow: hidden;
}

h1,
h2,
h3 {
  line-height: 1;
}

main {
  position: relative;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.brSpOnly {
  display: none;
}
@media screen and (width <= 480px) {
  .brSpOnly {
    display: inline;
  }
}

.brUnderPcSmall {
  display: none;
}
@media screen and (max-width: 1432px) {
  .brUnderPcSmall {
    display: inline;
  }
}

.brUnderTablet {
  display: none;
}
@media screen and (max-width: 900px) {
  .brUnderTablet {
    display: inline;
  }
}

.sectionInner {
  width: 100%;
  max-width: 1400px;
  margin-inline: auto;
  padding-block: 80px;
}
@media screen and (max-width: 1432px) {
  .sectionInner {
    padding-inline: 32px;
    padding-block: 40px;
  }
}
@media screen and (max-width: 700px) {
  .sectionInner {
    padding-inline: 20px;
  }
}

.sectionTitleGroup {
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
}
.sectionTitleGroup .sectionSubTitle {
  line-height: 1;
  font-family: "Shrikhand", cursive;
  font-size: 64px;
  font-weight: bold;
}
@media screen and (max-width: 700px) {
  .sectionTitleGroup .sectionSubTitle {
    font-size: 9vw;
  }
}
.sectionTitleGroup .sectionTitle {
  margin-top: 8px;
  font-weight: bold;
  color: #0089A7;
}

.emoji {
  font-family: "Apple Color Emoji", "Noto Color Emoji";
}

.brLineHeight1 {
  line-height: 1.2;
}

body {
  background: #f5f5f5;
  font-family: "Zen Kaku Gothic New", sans-serif;
  display: none;
  overflow-x: hidden;
}
body #loadingScreen {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background: #333;
}
body #loadingScreen .loading-spinner {
  pointer-events: none;
  font-size: 18vw;
  font-family: "Shrikhand", cursive;
  color: #fff;
}
body header {
  z-index: 100;
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
@media screen and (max-width: 700px) {
  body header {
    display: none;
  }
}
body header .headerInner {
  height: 80px;
  width: 100%;
  max-width: 1000px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1064px) {
  body header .headerInner {
    padding-inline: 32px;
    font-size: 2vw;
  }
}
body header .headerInner .headerNav {
  z-index: 11;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 12px 12px;
  border-radius: 50vh;
  background: #fff;
}
body header .headerInner .headerNav #headerCurrentItemBg {
  z-index: 12;
  position: absolute;
  left: 12px;
  width: calc((100% - 24px) / 6);
  height: calc(100% - 24px);
  background: #000;
  border-radius: 50vh;
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
body header .headerInner .headerNav .headerNavItem {
  z-index: 13;
  cursor: pointer;
  width: 16.6666666667%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50vh;
  transition-duration: 0.5s;
}
body header .headerInner .headerNav .headerNavItem--current {
  color: #fff;
}
body header .headerInner .headerNav .headerNavItem:hover:not(.headerNavItem--current) {
  background: rgba(0, 0, 0, 0.1);
}
body #hamburgerButton {
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 700px) {
  body #hamburgerButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 52px;
    height: 52px;
    z-index: 101;
    border-radius: 50vh;
    background: #0089A7;
    border: 1px solid #0089A7;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }
}
body #hamburgerButton .hamburgerButtonInner {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 8px;
}
body #hamburgerButton .hamburgerButtonInner .hamburgerButtonLine {
  height: 2px;
  border-radius: 50vh;
  background: #fff;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
body #hamburgerButton .hamburgerButtonInner .hamburgerButtonLine:nth-child(1) {
  width: 16px;
}
body #hamburgerButton .hamburgerButtonInner .hamburgerButtonLine:nth-child(2) {
  width: 20px;
}
body #hamburgerButton .hamburgerButtonInner .hamburgerButtonLine:nth-child(3) {
  width: 24px;
}
body #hamburgerButton.hamburgerButton--opened {
  background: #fff;
  border-color: #333;
}
body #hamburgerButton.hamburgerButton--opened .hamburgerButtonLine {
  background: #333;
}
body #hamburgerButton.hamburgerButton--opened .hamburgerButtonLine:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
  width: 24px;
}
body #hamburgerButton.hamburgerButton--opened .hamburgerButtonLine:nth-child(2) {
  width: 0;
  opacity: 0;
}
body #hamburgerButton.hamburgerButton--opened .hamburgerButtonLine:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
  width: 24px;
}
body #globalNav {
  display: none;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100vh;
  top: -100vh;
  left: 0;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #ebedee, #e0c3fc, #8ec5fc, #ebedee);
  background-size: 200% 200%;
  animation: bgGradient 5s ease infinite;
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
@media screen and (max-width: 700px) {
  body #globalNav {
    display: flex;
  }
}
body #globalNav .globalNavList {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
  font-size: 4.5vw;
  font-weight: 500;
}
body #globalNav .globalNavList .globalNavBgNoise {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.1;
  filter: brightness(5);
}
body #globalNav .globalNavList .globalNavItem {
  cursor: pointer;
  width: 40%;
  background: #fff;
  padding-block: 6px;
  border-radius: 50vh;
  border: 1px solid #333;
  text-align: center;
}
body .globalNav--active {
  top: 0 !important;
}
body main {
  margin-top: 160px;
}
@media screen and (max-width: 700px) {
  body main {
    margin-top: 20px;
  }
}
body main #introduction .sectionInner {
  padding-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1432px) {
  body main #introduction .sectionInner {
    gap: 32px;
  }
}
@media screen and (max-width: 700px) {
  body main #introduction .sectionInner {
    flex-direction: column;
  }
}
body main #introduction .sectionInner .introductionImageWrapper {
  width: 50%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 700px) {
  body main #introduction .sectionInner .introductionImageWrapper {
    width: 100%;
  }
}
body main #introduction .sectionInner .introductionImageWrapper img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
body main #introduction .sectionInner .introductionTextAreaWrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 700px) {
  body main #introduction .sectionInner .introductionTextAreaWrapper {
    width: 100%;
  }
}
body main #introduction .sectionInner .introductionTextAreaWrapper .introductionTextArea .introductionEnglishName {
  font-size: 32px;
  font-family: "Shrikhand", cursive;
  color: #707070;
}
@media screen and (max-width: 1432px) {
  body main #introduction .sectionInner .introductionTextAreaWrapper .introductionTextArea .introductionEnglishName {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 700px) {
  body main #introduction .sectionInner .introductionTextAreaWrapper .introductionTextArea .introductionEnglishName {
    font-size: 4vw;
  }
}
body main #introduction .sectionInner .introductionTextAreaWrapper .introductionTextArea .introductionJapaneseName {
  font-size: 88px;
  font-weight: bold;
}
@media screen and (max-width: 1432px) {
  body main #introduction .sectionInner .introductionTextAreaWrapper .introductionTextArea .introductionJapaneseName {
    font-size: 8vw;
  }
}
@media screen and (max-width: 700px) {
  body main #introduction .sectionInner .introductionTextAreaWrapper .introductionTextArea .introductionJapaneseName {
    font-size: 14vw;
  }
}
body main #introduction .sectionInner .introductionTextAreaWrapper .introductionTextArea .introductionJapaneseName span {
  color: #0089A7;
}
body main #introduction .sectionInner .introductionTextAreaWrapper .introductionTextArea .introductionProfile {
  margin-top: 24px;
  word-break: keep-all;
  overflow-wrap: anywhere;
}
body main #skills {
  overflow-x: hidden;
}
body main #skills .sectionInner .skillsCardArea {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  -moz-column-gap: 48px;
       column-gap: 48px;
  row-gap: 64px;
}
@media screen and (max-width: 900px) {
  body main #skills .sectionInner .skillsCardArea {
    flex-direction: column;
  }
}
body main #skills .sectionInner .skillsCardArea .skillsCard {
  position: relative;
  width: calc((100% - 48px) / 2);
  aspect-ratio: 5/2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 40px 0 24px 24px;
  border-radius: 12px;
  background: #fff;
  border: 1px solid #333;
  box-shadow: 0px 5px 0px 0px #333;
}
@media screen and (max-width: 900px) {
  body main #skills .sectionInner .skillsCardArea .skillsCard {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  body main #skills .sectionInner .skillsCardArea .skillsCard {
    padding: 40px 16px 24px 16px;
  }
}
@media screen and (max-width: 700px) {
  body main #skills .sectionInner .skillsCardArea .skillsCard::after {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 40px;
    line-height: 1;
  }
  body main #skills .sectionInner .skillsCardArea .skillsCard:nth-child(1)::after {
    content: "🎥";
  }
  body main #skills .sectionInner .skillsCardArea .skillsCard:nth-child(2)::after {
    content: "📱";
  }
  body main #skills .sectionInner .skillsCardArea .skillsCard:nth-child(3)::after {
    content: "🎓";
  }
  body main #skills .sectionInner .skillsCardArea .skillsCard:nth-child(4)::after {
    content: "🖥️";
  }
}
body main #skills .sectionInner .skillsCardArea .skillsCard .skillsCardExperience {
  position: absolute;
  top: 0;
  left: 24px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 16px 4px 16px;
  border-radius: 6px;
  background: #0089A7;
  font-family: "Shrikhand", cursive;
  color: #fff;
}
body main #skills .sectionInner .skillsCardArea .skillsCard .skillsCardExperience .skillsCardExperienceNum {
  line-height: 1;
  font-size: 32px;
}
body main #skills .sectionInner .skillsCardArea .skillsCard .skillsCardExperience .skillsCardExperienceText {
  line-height: 1;
  font-size: 16px;
}
body main #skills .sectionInner .skillsCardArea .skillsCard .skillsCardTextArea .skillsCardEnglishTitle {
  font-family: "Shrikhand", cursive;
  color: #0089A7;
}
@media screen and (max-width: 900px) {
  body main #skills .sectionInner .skillsCardArea .skillsCard .skillsCardTextArea .skillsCardEnglishTitle {
    font-size: 3vw;
  }
}
body main #skills .sectionInner .skillsCardArea .skillsCard .skillsCardTextArea .skillsCardTitle {
  font-size: 48px;
  font-weight: 400;
}
@media screen and (max-width: 1432px) {
  body main #skills .sectionInner .skillsCardArea .skillsCard .skillsCardTextArea .skillsCardTitle {
    font-size: max(3vw, 24px);
  }
}
@media screen and (max-width: 900px) {
  body main #skills .sectionInner .skillsCardArea .skillsCard .skillsCardTextArea .skillsCardTitle {
    font-size: 7vw;
  }
}
@media screen and (max-width: 700px) {
  body main #skills .sectionInner .skillsCardArea .skillsCard .skillsCardTextArea .skillsCardTitle {
    font-size: 8.5vw;
    font-weight: bold;
  }
}
body main #skills .sectionInner .skillsCardArea .skillsCard .skillsCardTextArea .skillsCardDescription {
  margin-top: 16px;
  word-break: keep-all;
  overflow-wrap: break-word;
}
@media screen and (max-width: 1432px) {
  body main #skills .sectionInner .skillsCardArea .skillsCard .skillsCardTextArea .skillsCardDescription {
    font-size: 1.35vw;
  }
}
@media screen and (max-width: 900px) {
  body main #skills .sectionInner .skillsCardArea .skillsCard .skillsCardTextArea .skillsCardDescription {
    font-size: 2.4vw;
    margin-top: 32px;
  }
}
@media screen and (max-width: 700px) {
  body main #skills .sectionInner .skillsCardArea .skillsCard .skillsCardTextArea .skillsCardDescription {
    margin-top: 8px;
    font-size: 16px;
  }
}
body main #skills .sectionInner .skillsCardArea .skillsCard .skillsCardIconArea {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 120px;
}
@media screen and (max-width: 1432px) {
  body main #skills .sectionInner .skillsCardArea .skillsCard .skillsCardIconArea {
    width: auto;
    margin-right: 64px;
  }
}
@media screen and (max-width: 700px) {
  body main #skills .sectionInner .skillsCardArea .skillsCard .skillsCardIconArea {
    display: none;
  }
}
body main #skills .sectionInner .skillsCardArea .skillsCard .skillsCardIconArea .emoji {
  font-size: 88px;
}
@media screen and (max-width: 1432px) {
  body main #skills .sectionInner .skillsCardArea .skillsCard .skillsCardIconArea .emoji {
    font-size: 5.5vw;
  }
}
@media screen and (max-width: 900px) {
  body main #skills .sectionInner .skillsCardArea .skillsCard .skillsCardIconArea .emoji {
    font-size: 12vw;
  }
}
body main #skills .sectionInner .skillsCardArea .skillsCard--movie .skillsCardExperience {
  background: #A045AB;
}
body main #skills .sectionInner .skillsCardArea .skillsCard--lecturer .skillsCardExperience,
body main #skills .sectionInner .skillsCardArea .skillsCard--sns .skillsCardExperience {
  background: #0089A7;
}
body main #skills .sectionInner .skillsCardArea .skillsCard--web .skillsCardExperience {
  background: #5BAE70;
}
body main #currentWorks {
  position: relative;
  width: calc(100% - 64px);
  height: auto;
  margin-inline: auto;
  background: linear-gradient(45deg, #ebedee, #e0c3fc, #8ec5fc, #ebedee);
  background-size: 200% 200%;
  animation: bgGradient 5s ease infinite;
  border-radius: 12px;
  overflow: hidden;
}
@media screen and (max-width: 700px) {
  body main #currentWorks {
    width: calc(100% - 16px);
  }
}
body main #currentWorks .currentWorksBgNoise {
  display: none;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.1;
  filter: brightness(5);
}
body main #currentWorks .sectionInner {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: calc(100% - 120px);
  height: 100%;
  z-index: 1;
}
@media screen and (max-width: 1432px) {
  body main #currentWorks .sectionInner {
    width: calc(100% - 64px);
  }
}
@media screen and (max-width: 700px) {
  body main #currentWorks .sectionInner {
    width: calc(100% - 24px);
    padding-inline: 0;
    gap: 24px;
  }
}
body main #currentWorks .sectionInner .currentWorksMainArea {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 1400px;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 900px) {
  body main #currentWorks .sectionInner .currentWorksMainArea {
    flex-direction: column;
    gap: 24px;
  }
}
body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaLeft {
  width: 120px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
@media screen and (max-width: 900px) {
  body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaLeft {
    flex-direction: row;
    width: 100%;
    height: 80px;
    gap: 24px;
  }
}
body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaLeft .currentWorksLogoWrapper {
  cursor: pointer;
  width: 72px;
  height: 72px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: #fff;
  border: 1px solid #333;
  opacity: 0.5;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaLeft .currentWorksLogoWrapper:hover:not(.currentWorksLogoWrapper--active) {
  transform: scale(1.2);
  opacity: 1;
}
@media screen and (max-width: 900px) {
  body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaLeft .currentWorksLogoWrapper {
    width: 52px;
    height: 52px;
  }
}
body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaLeft .currentWorksLogoWrapper img {
  width: 70%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaLeft .currentWorksLogoWrapper.currentWorksLogoWrapper--active {
  width: 120px;
  height: 120px;
  opacity: 1;
}
@media screen and (max-width: 900px) {
  body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaLeft .currentWorksLogoWrapper.currentWorksLogoWrapper--active {
    width: 80px;
    height: 80px;
  }
}
body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaRight {
  flex: 1;
  height: 100%;
  margin-left: 64px;
}
@media screen and (max-width: 900px) {
  body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaRight {
    margin-left: 0;
  }
}
body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaRight .currentWorksDetail {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
@media screen and (max-width: 700px) {
  body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaRight .currentWorksDetail {
    gap: 24px;
  }
}
body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaRight .currentWorksDetail--active {
  display: flex;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}
body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaRight .currentWorksDetail .currentWorksDetailTitle {
  font-size: 64px;
  font-weight: 500;
}
@media screen and (max-width: 1432px) {
  body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaRight .currentWorksDetail .currentWorksDetailTitle {
    font-size: 6vw;
    font-weight: bold;
  }
}
@media screen and (max-width: 700px) {
  body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaRight .currentWorksDetail .currentWorksDetailTitle {
    font-size: 10vw;
  }
}
body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaRight .currentWorksDetail .currentWorksDetailTitle span {
  color: #0089A7;
}
body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaRight .currentWorksDetail .currentWorksDetailDescription {
  word-break: keep-all;
  overflow-wrap: anywhere;
}
@media screen and (max-width: 900px) {
  body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaRight .currentWorksDetail .currentWorksDetailDescription {
    font-size: 2.2vw;
  }
}
@media screen and (max-width: 700px) {
  body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaRight .currentWorksDetail .currentWorksDetailDescription {
    font-size: clamp(16px, 4vw, 18px);
  }
}
body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaRight .currentWorksDetail .currentWorksDetailDescription br {
  line-height: 1.2;
}
body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaRight .currentWorksDetail .currentWorksSkillsList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaRight .currentWorksDetail .currentWorksSkillsList .currentWorksSkillsItem {
  padding: 0px 16px 2px 16px;
  border-radius: 50vh;
  border: 1px solid #333;
}
@media screen and (max-width: 700px) {
  body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaRight .currentWorksDetail .currentWorksSkillsList .currentWorksSkillsItem {
    padding: 1px 16px 2px 16px;
    font-size: clamp(16px, 4vw, 18px);
  }
}
body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaRight .currentWorksDetail .currentWorksLink {
  cursor: pointer;
  padding-block: 6px 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: #fff;
  border: 1px solid #0089A7;
  color: #333;
  box-shadow: 0 8px 0 #0089A7;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaRight .currentWorksDetail .currentWorksLink:hover {
  background: #0089A7;
  color: #fff;
  box-shadow: 0 0 0 #0089A7;
  transform: translateY(8px);
  box-shadow: none;
}
body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaRight .currentWorksDetail .currentWorksLink .currentWorksLinkText {
  font-weight: 600;
}
body main #career .sectionInner .sectionTitleGroup {
  text-align: start;
  margin-inline: 0;
}
body main #career .sectionInner .careerHighlightList {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}
body main #career .sectionInner .careerHighlightList .careerHighlightItem {
  padding: 0px 16px 2px 16px;
  border-radius: 50vh;
  border: 1px solid #333;
  font-size: 16px;
}
body main #career .sectionInner .careerTimelineList {
  margin-top: 40px;
}
body main #career .sectionInner .careerTimelineList .careerTimelineItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding-inline: 32px;
  padding-block: 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 900px) {
  body main #career .sectionInner .careerTimelineList .careerTimelineItem {
    padding-inline: 0;
  }
}
body main #career .sectionInner .careerTimelineList .careerTimelineItem::after {
  font-size: 100px;
  line-height: 1;
  font-family: "Apple Color Emoji", "Noto Color Emoji";
}
@media screen and (max-width: 1432px) {
  body main #career .sectionInner .careerTimelineList .careerTimelineItem::after {
    font-size: 8vw;
  }
}
@media screen and (max-width: 700px) {
  body main #career .sectionInner .careerTimelineList .careerTimelineItem::after {
    display: none !important;
  }
}
body main #career .sectionInner .careerTimelineList .careerTimelineItem:last-child {
  padding-bottom: 0;
}
body main #career .sectionInner .careerTimelineList .careerTimelineItem .careerTimelineItemInner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body main #career .sectionInner .careerTimelineList .careerTimelineItem .careerTimelineItemInner .careerTimelineEvent {
  font-size: 32px;
}
@media screen and (max-width: 700px) {
  body main #career .sectionInner .careerTimelineList .careerTimelineItem .careerTimelineItemInner .careerTimelineEvent {
    font-size: 6vw;
    font-weight: bold;
  }
}
body main #career .sectionInner .careerTimelineList .careerTimelineItem .careerTimelineItemInner .careerTimelineDescription {
  word-break: keep-all;
  overflow-wrap: anywhere;
}
body main #career .sectionInner .careerTimelineList .careerTimelineItem:nth-child(1)::after {
  content: "🏝️";
}
body main #career .sectionInner .careerTimelineList .careerTimelineItem:nth-child(2)::after {
  content: "🏫";
}
body main #career .sectionInner .careerTimelineList .careerTimelineItem:nth-child(3)::after {
  content: "🗼";
}
body main #career .sectionInner .careerTimelineList .careerTimelineItem:nth-child(4)::after {
  content: "🖥️";
}
body main #career .sectionInner .careerTimelineList .careerTimelineItem:nth-child(5)::after {
  content: "🏢";
}
body main #career .sectionInner .careerTimelineList .careerTimelineItem:nth-child(6)::after {
  content: "✈️";
}
body main #works {
  overflow: hidden;
}
body main #works .sectionInner {
  padding-bottom: 80px;
}
body main #works .sectionInner .worksCardArea .worksCard {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px;
  border-radius: 12px;
  background: #fff;
  border: 1px solid #333;
  box-shadow: 0px 5px 0px 0px #333;
}
body main #works .sectionInner .worksCardArea .worksCardThumbnailWrapper {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background: #f5f5f5;
}
body main #works .sectionInner .worksCardArea .worksCardThumbnailWrapper .worksCardThumbnail {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
body main #works .sectionInner .worksCardArea .worksCardThumbnailWrapper .worksCardThumbnailLogo {
  width: auto;
  height: auto;
  aspect-ratio: 1/1;
}
body main #works .sectionInner .worksCardArea .worksCardTitleArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main #works .sectionInner .worksCardArea .worksCardTitleArea .worksCardClientName {
  font-weight: bold;
  color: #0089A7;
}
body main #works .sectionInner .worksCardArea .worksCardTitleArea .worksCardTitle {
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
}
body main #works .sectionInner .worksLetsSlide {
  position: relative;
  margin-top: 32px;
  font-weight: 500;
  font-size: 24px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 16px;
  color: #0089A7;
  line-height: 1;
}
@media screen and (max-width: 700px) {
  body main #works .sectionInner .worksLetsSlide {
    display: flex;
  }
}
body main #works .sectionInner .worksLetsSlide::before {
  content: "<<<";
  font-size: 16px;
  font-weight: 300;
  animation-name: slideToLeft;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  animation-iteration-count: infinite;
}
@keyframes slideToLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0);
  }
}
body main #works .sectionInner .worksLetsSlide::after {
  content: ">>>";
  font-size: 16px;
  font-weight: 300;
  animation-name: slideToRight;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  animation-iteration-count: infinite;
}
@keyframes slideToRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
  }
}

footer {
  height: 400px;
  padding-block: 40px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #333;
}
@media screen and (max-width: 700px) {
  footer {
    height: auto;
    gap: 40px;
  }
}
footer .sectionTitleGroup {
  color: #fff;
}
footer .snsIconList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
@media screen and (max-width: 700px) {
  footer .snsIconList {
    gap: 24px;
  }
}
footer .snsIconList .snsIconItem img {
  width: 56px;
  aspect-ratio: 1/1;
}
@media screen and (max-width: 700px) {
  footer .snsIconList .snsIconItem img {
    width: 40px;
  }
}
footer .snsIconList .mailIconItem {
  cursor: pointer;
}
footer .snsIconList .mailIconItem img {
  width: 64px;
  aspect-ratio: auto;
}
@media screen and (max-width: 700px) {
  footer .snsIconList .mailIconItem img {
    width: 46px;
  }
}
footer .snsIconList .snsIconItem,
footer .snsIconList .mailIconItem {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
footer .snsIconList .snsIconItem:hover,
footer .snsIconList .mailIconItem:hover {
  transform: scale(1.2);
}
footer .copyright {
  color: #fff;
}

.mailModal {
  z-index: 501;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 400px;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background: #fff;
  border: 1px solid #333;
  box-shadow: 0px 4px 0px 0px #333;
  transition-duration: 0.8s;
}
@media screen and (max-width: 900px) {
  .mailModal {
    height: 200px;
  }
}
@media screen and (max-width: 700px) {
  .mailModal {
    width: 90%;
    height: 160px;
  }
}
.mailModal--active {
  display: flex;
}
.mailModal .mailModalInner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
@media screen and (max-width: 900px) {
  .mailModal .mailModalInner {
    flex-direction: column-reverse;
    gap: 16px;
  }
}
@media screen and (max-width: 700px) {
  .mailModal .mailModalInner {
    gap: 8px;
  }
}
.mailModal .mailModalInner .mailModalAddress {
  font-family: "Shrikhand", cursive;
  font-size: 3vw;
  font-weight: bold;
}
@media screen and (max-width: 700px) {
  .mailModal .mailModalInner .mailModalAddress {
    font-size: 4.5vw;
  }
}
.mailModal .mailModalInner .mailModalAddress--copied {
  color: #0089A7;
  font-size: 7vw;
}
.mailModal .mailModalInner .mailModalCopy {
  cursor: pointer;
  font-size: 40px;
  font-weight: 500;
  color: #0089A7;
}
@media screen and (max-width: 700px) {
  .mailModal .mailModalInner .mailModalCopy {
    font-size: 32px;
  }
}
.mailModal .mailModalInner .mailModalCopy:active {
  transform: scale(0.9);
}
.mailModal .mailModalInner .mailModalCopy--copied {
  display: none;
}

.mailModalBg {
  pointer-events: none;
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  transition-duration: 0.8s;
}

.mailModalBg--visible {
  pointer-events: auto;
  background: rgba(0, 137, 167, 0.7);
}

/* ===============================================
 *  swiper
 =============================================== */
.swiper-container {
  margin-top: 64px;
  width: 425px;
  margin-inline: auto;
}
@media screen and (max-width: 900px) {
  .swiper-container {
    width: 60%;
    max-width: 500px;
  }
}
@media screen and (max-width: 700px) {
  .swiper-container {
    width: 100%;
  }
}
.swiper-container .swiper-wrapper .swiper-slide {
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media screen and (max-width: 1432px) {
  .swiper-container .swiper-wrapper .swiper-slide {
    cursor: pointer;
  }
}
@media screen and (max-width: 1432px) {
  .swiper-container .swiper-wrapper .swiper-slide iframe {
    pointer-events: none;
  }
}
.swiper-container .swiper-wrapper .swiper-slide-active {
  cursor: default;
  transform: scale(1);
  opacity: 1 !important;
}
.swiper-container .swiper-wrapper .swiper-slide-active iframe {
  pointer-events: auto;
}
@media screen and (max-width: 1432px) and (min-width: 700px) {
  .swiper-container .swiper-wrapper .swiper-slide {
    transform-origin: center bottom;
    opacity: 0.8;
  }
  .swiper-container .swiper-wrapper .swiper-slide:first-child:not(.swiper-slide-active) {
    transform: rotateZ(-8deg) scale(0.7);
    opacity: 0.8;
  }
  .swiper-container .swiper-wrapper .swiper-slide:nth-child(2):not(.swiper-slide-active) {
    transform: rotateZ(-8deg) scale(0.7);
    opacity: 0.8;
  }
  .swiper-container .swiper-wrapper .swiper-slide:last-child:not(.swiper-slide-active) {
    transform: rotateZ(8deg) scale(0.7);
    opacity: 0.8;
  }
  .swiper-container .swiper-wrapper .swiper-slide-active + .swiper-slide {
    transform: rotateZ(8deg) scale(0.7) !important;
    opacity: 0.8;
  }
}

@keyframes bgGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */