@use "./reset";
@use "./var" as *;

// フォント
* {
    font-feature-settings: "palt";
}

body {
    font-family: $fontMain;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 1.8;
    color: $colorBlack;

    @media screen and (max-width: $pcSmallBreakPoint) {
        font-size: max(1.5vw, 16px);
    }
}

h1,
h2,
h3 {
    line-height: 1;
}

main {
    position: relative;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.brSpOnly {
    display: none;

    @media screen and (width <=480px) {
        display: inline;
    }
}

.brUnderPcSmall {
    display: none;

    @media screen and (max-width: $pcSmallBreakPoint) {
        display: inline;
    }
}

.brUnderTablet {
    display: none;

    @media screen and (max-width: $tabletBreakPoint) {
        display: inline;
    }
}

.sectionInner {
    width: 100%;
    max-width: 1400px;
    margin-inline: auto;
    padding-block: 80px;

    @media screen and (max-width: $pcSmallBreakPoint) {
        padding-inline: 32px;
        padding-block: 40px;
    }

    @media screen and (max-width: $spBreakPoint) {
        padding-inline: 20px;
    }
}

.sectionTitleGroup {
    text-align: center;


    .sectionSubTitle {
        line-height: 1;
        font-family: $fontSub;
        font-size: 64px;
        font-weight: bold;

        @media screen and (max-width: $spBreakPoint) {
            font-size: 9vw;
        }
    }


    .sectionTitle {
        margin-top: 8px;
        font-weight: bold;
        color: $colorMain;
    }
}

.emoji {
    font-family: $fontEmoji;
}

.brLineHeight1 {
    line-height: 1.2;
}