@use "./reset";
@use "./var" as *;

body {
    background: $colorLightGray;
    font-family: $fontMain;

    header {
        z-index: 100;
        position: fixed;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;

        @media screen and (max-width: $spBreakPoint) {
            display: none;
        }

        .headerInner {
            height: 80px;
            width: 100%;
            max-width: 1000px;
            margin-inline: auto;
            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (max-width: 1064px) {
                padding-inline: 32px;
                font-size: 2vw;
            }


            .headerNav {
                z-index: 11;
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: 12px 12px;
                border-radius: 50vh;
                background: #fff;

                #headerCurrentItemBg {
                    z-index: 12;
                    position: absolute;
                    left: 12px;
                    width: calc((100% - 24px) / 6);
                    height: calc(100% - 24px);
                    background: #000;
                    border-radius: 50vh;

                    transition-duration: 0.8s;
                    transition-timing-function: $easeInOutBack;
                }

                .headerNavItem {
                    z-index: 13;
                    cursor: pointer;
                    width: calc(100% / 6);
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50vh;

                    transition-duration: 0.5s;

                    &--current {
                        color: #fff;
                    }

                    &:hover:not(.headerNavItem--current) {
                        background: rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }
    }

    #hamburgerButton {
        cursor: pointer;
        display: none;

        @media screen and (max-width: $spBreakPoint) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 8px;
            position: fixed;
            top: 20px;
            right: 20px;
            width: 52px;
            height: 52px;
            z-index: 101;
            border-radius: 50vh;
            background: $colorMain;
            border: 1px solid $colorMain;

            transition-duration: 1s;
            transition-timing-function: $easeInOutQuint;
        }

        .hamburgerButtonInner {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: 8px;

            .hamburgerButtonLine {
                height: 2px;
                border-radius: 50vh;
                background: #fff;

                transition-duration: 1s;
                transition-timing-function: $easeInOutQuint;

                &:nth-child(1) {
                    width: 16px;
                }

                &:nth-child(2) {
                    width: 20px;
                }

                &:nth-child(3) {
                    width: 24px;
                }
            }
        }

        &.hamburgerButton--opened {
            background: #fff;
            border-color: $colorBlack;

            .hamburgerButtonLine {
                background: $colorBlack;

                &:nth-child(1) {
                    transform: translateY(10px) rotate(45deg);
                    width: 24px;
                }

                &:nth-child(2) {
                    width: 0;
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: translateY(-10px) rotate(-45deg);
                    width: 24px;
                }
            }
        }
    }

    #globalNav {
        display: none;
        position: fixed;
        z-index: 100;
        width: 100%;
        height: 100vh;
        top: -100vh;
        left: 0;
        align-items: center;
        justify-content: center;
        background: linear-gradient(45deg, #ebedee, #e0c3fc, #8ec5fc, #ebedee);
        background-size: 200% 200%;
        animation: bgGradient 8s ease infinite;

        transition-duration: 0.8s;
        transition-timing-function: $easeInOutQuint;

        @media screen and (max-width: $spBreakPoint) {
            display: flex;
        }

        .globalNavList {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 28px;
            font-size: 4.5vw;
            font-weight: 500;

            .globalNavBgNoise {
                pointer-events: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 0.1;
                filter: brightness(5);
            }

            .globalNavItem {
                cursor: pointer;
                width: 40%;
                background: #fff;
                padding-block: 6px;
                border-radius: 50vh;
                border: 1px solid $colorBlack;
                text-align: center;
            }
        }
    }

    .globalNav--active {
        top: 0 !important;
    }

    main {
        margin-top: 160px;

        @media screen and (max-width: $spBreakPoint) {
            margin-top: 20px;
        }

        #introduction {

            .sectionInner {
                padding-top: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                @media screen and (max-width: $pcSmallBreakPoint) {
                    gap: 32px;
                }

                @media screen and (max-width: $spBreakPoint) {
                    flex-direction: column;
                }

                .introductionImageWrapper {
                    width: 50%;
                    height: auto;
                    object-fit: cover;

                    @media screen and (max-width: $spBreakPoint) {
                        width: 100%;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        aspect-ratio: 1 / 1;
                        object-fit: cover;
                        border-radius: $borderRadiusMain;
                    }
                }

                .introductionTextAreaWrapper {
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @media screen and (max-width: $spBreakPoint) {
                        width: 100%;
                    }

                    .introductionTextArea {

                        .introductionEnglishName {
                            font-size: 32px;
                            font-family: $fontSub;
                            color: $colorDarkGray;

                            @media screen and (max-width: $pcSmallBreakPoint) {
                                font-size: 2.5vw;
                            }


                            @media screen and (max-width: $spBreakPoint) {
                                font-size: 4vw;
                            }
                        }

                        .introductionJapaneseName {
                            font-size: 88px;
                            font-weight: bold;

                            @media screen and (max-width: $pcSmallBreakPoint) {
                                font-size: 8vw;
                            }


                            @media screen and (max-width: $spBreakPoint) {
                                font-size: 14vw;
                            }

                            span {
                                color: $colorMain;
                            }
                        }

                        .introductionProfile {
                            margin-top: 24px;
                        }
                    }
                }
            }
        }

        #skills {
            .sectionInner {
                .skillsCardArea {
                    margin-top: 64px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    column-gap: 48px;
                    row-gap: 64px;

                    @media screen and (max-width: $tabletBreakPoint) {
                        flex-direction: column;
                    }

                    .skillsCard {
                        position: relative;
                        width: calc((100% - 48px) / 2);
                        aspect-ratio: 5 / 2;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 24px;
                        padding: 24px 0 24px 24px;
                        border-radius: $borderRadiusMain;
                        background: #fff;
                        border: 1px solid $colorBlack;
                        box-shadow: 0px 5px 0px 0px $colorBlack;

                        @media screen and (max-width: $tabletBreakPoint) {
                            width: 100%;
                        }


                        @media screen and (max-width: $spBreakPoint) {
                            padding: 40px 16px 24px 16px;
                        }

                        @media screen and (max-width: $spBreakPoint) {
                            &::after {
                                position: absolute;
                                top: 12px;
                                right: 12px;
                                font-size: 40px;
                                line-height: 1;
                            }

                            &:nth-child(1)::after {
                                content: "🎥";
                            }

                            &:nth-child(2)::after {
                                content: "📱";
                            }

                            &:nth-child(3)::after {
                                content: "🎓";
                            }

                            &:nth-child(4)::after {
                                content: "🖥️";
                            }
                        }

                        .skillsCardExperience {
                            position: absolute;
                            top: 0;
                            left: 24px;
                            transform: translateY(-50%);
                            display: flex;
                            align-items: center;
                            gap: 6px;
                            padding: 8px 16px 4px 16px;
                            border-radius: $borderRadiusSmall;
                            background: $colorMain;
                            font-family: $fontSub;
                            color: #fff;

                            .skillsCardExperienceNum {
                                line-height: 1;
                                font-size: 32px;
                            }

                            .skillsCardExperienceText {
                                line-height: 1;
                                font-size: 16px;
                            }
                        }

                        .skillsCardTextArea {

                            .skillsCardEnglishTitle {
                                font-family: $fontSub;
                                color: $colorMain;

                                @media screen and (max-width: $tabletBreakPoint) {
                                    font-size: 3vw;
                                }
                            }

                            .skillsCardTitle {
                                font-size: 48px;
                                font-weight: 400;

                                @media screen and (max-width: $pcSmallBreakPoint) {
                                    font-size: max(3vw, 24px);
                                }

                                @media screen and (max-width: $tabletBreakPoint) {
                                    font-size: 7vw;
                                }


                                @media screen and (max-width: $spBreakPoint) {
                                    font-size: 8.5vw;
                                    font-weight: bold;
                                }
                            }

                            .skillsCardDescription {
                                margin-top: 16px;
                                word-break: keep-all;
                                overflow-wrap: break-word;

                                @media screen and (max-width: $pcSmallBreakPoint) {
                                    font-size: 1.35vw;
                                }

                                @media screen and (max-width: $tabletBreakPoint) {
                                    font-size: 2.4vw;
                                    margin-top: 32px;
                                }


                                @media screen and (max-width: $spBreakPoint) {
                                    margin-top: 8px;
                                    font-size: 16px;
                                }
                            }
                        }

                        .skillsCardIconArea {
                            display: flex;
                            align-items: center;
                            justify-content: start;
                            width: 120px;

                            @media screen and (max-width: $pcSmallBreakPoint) {
                                width: auto;
                                margin-right: 64px;
                            }

                            @media screen and (max-width: $spBreakPoint) {
                                display: none;
                            }

                            .emoji {
                                font-size: 88px;

                                @media screen and (max-width: $pcSmallBreakPoint) {
                                    font-size: 5.5vw;
                                }

                                @media screen and (max-width: $tabletBreakPoint) {
                                    font-size: 12vw;
                                }
                            }
                        }
                    }

                    .skillsCard--movie {
                        .skillsCardExperience {
                            background: #A045AB;
                        }
                    }

                    .skillsCard--lecturer,
                    .skillsCard--sns {
                        .skillsCardExperience {
                            background: $colorMain;
                        }
                    }

                    .skillsCard--web {
                        .skillsCardExperience {
                            background: #5BAE70;
                        }
                    }
                }
            }
        }

        #currentWorks {
            overflow: auto;
            // clip-path: polygon(0% 5%, 100% 0%, 100% 95%, 0% 100%);
            position: relative;
            width: calc(100% - 64px);
            height: calc(100vh - 48px);
            margin-inline: auto;
            background: linear-gradient(45deg, #ebedee, #e0c3fc, #8ec5fc, #ebedee);
            background-size: 200% 200%;
            animation: bgGradient 8s ease infinite;
            border-radius: $borderRadiusMain;
            overflow: hidden;

            @media screen and (max-width: $spBreakPoint) {
                width: calc(100% - 16px);
                height: auto;
            }

            .currentWorksBgNoise {
                display: none;
                pointer-events: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 0.1;
                filter: brightness(5);
            }

            .sectionInner {
                display: flex;
                flex-direction: column;
                gap: 40px;
                width: calc(100% - 120px);
                height: 100%;
                padding-top: 140px;
                z-index: 1;

                @media screen and (max-width: $pcSmallBreakPoint) {
                    width: calc(100% - 64px);
                }

                @media screen and (max-width: $spBreakPoint) {
                    width: calc(100% - 24px);
                    padding-inline: 0;
                    padding-top: 40px;
                    gap: 24px;
                }

                .currentWorksMainArea {
                    display: flex;
                    height: 100%;
                    width: 100%;
                    max-width: 1400px;
                    margin-inline: auto;
                    align-items: center;
                    justify-content: center;

                    @media screen and (max-width: $tabletBreakPoint) {
                        flex-direction: column;
                        gap: 24px;
                    }

                    .currentWorksMainAreaLeft {
                        width: 120px;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 40px;

                        @media screen and (max-width: $tabletBreakPoint) {
                            flex-direction: row;
                            width: 100%;
                            height: 80px;
                            gap: 24px;
                        }


                        .currentWorksLogoWrapper {
                            cursor: pointer;
                            width: 72px;
                            height: 72px;
                            aspect-ratio: 1 / 1;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: $borderRadiusSmall;
                            background: #fff;
                            border: 1px solid $colorBlack;
                            opacity: 0.5;

                            transition-duration: 0.5s;
                            transition-timing-function: $easeInOutQuint;

                            &:hover:not(.currentWorksLogoWrapper--active) {
                                transform: scale(1.2);
                                opacity: 1;
                            }


                            @media screen and (max-width: $tabletBreakPoint) {
                                width: 52px;
                                height: 52px;
                            }


                            img {
                                width: 70%;
                                aspect-ratio: 1 / 1;
                                object-fit: cover;
                            }
                        }

                        .currentWorksLogoWrapper.currentWorksLogoWrapper--active {
                            // cursor: default;
                            width: 120px;
                            height: 120px;
                            opacity: 1;

                            @media screen and (max-width: $tabletBreakPoint) {
                                width: 80px;
                                height: 80px;
                            }
                        }
                    }

                    .currentWorksMainAreaRight {
                        flex: 1;
                        height: 100%;
                        margin-left: 64px;

                        @media screen and (max-width: $tabletBreakPoint) {
                            margin-left: 0;
                        }

                        .currentWorksDetail {
                            display: none;
                            width: 100%;
                            height: 100%;
                            flex-direction: column;
                            justify-content: center;
                            gap: 40px;

                            @media screen and (max-width: $spBreakPoint) {
                                gap: 24px;
                            }

                            &--active {
                                display: flex;

                                animation-name: fadeIn;
                                animation-duration: 0.5s;
                            }

                            .currentWorksDetailTitle {
                                font-size: 64px;
                                font-weight: 500;

                                @media screen and (max-width: $pcSmallBreakPoint) {
                                    font-size: 6vw;
                                    font-weight: bold;
                                }

                                @media screen and (max-width: $spBreakPoint) {
                                    font-size: 10vw;
                                }

                                span {
                                    color: $colorMain;
                                }
                            }

                            .currentWorksDetailDescription {
                                word-break: keep-all;
                                overflow-wrap: anywhere;

                                @media screen and (max-width: $tabletBreakPoint) {
                                    font-size: 2.2vw;
                                }

                                @media screen and (max-width: $spBreakPoint) {
                                    font-size: clamp(16px, 4vw, 18px);
                                }

                                br {
                                    line-height: 1.2;
                                }
                            }

                            .currentWorksSkillsList {
                                display: flex;
                                flex-wrap: wrap;
                                gap: 16px;


                                .currentWorksSkillsItem {
                                    padding: 0px 16px 2px 16px;
                                    border-radius: 50vh;
                                    border: 1px solid $colorBlack;

                                    @media screen and (max-width: $spBreakPoint) {
                                        padding: 1px 16px 2px 16px;
                                        font-size: clamp(16px, 4vw, 18px);
                                    }
                                }
                            }

                            .currentWorksLink {
                                cursor: pointer;
                                padding-block: 6px 8px;
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: $borderRadiusSmall;
                                background: #fff;
                                border: 1px solid $colorMain;
                                color: $colorBlack;
                                box-shadow: 0 8px 0 $colorMain;
                                transition-duration: 0.5s;
                                transition-timing-function: $easeInOutQuint;

                                &:hover {
                                    background: $colorMain;
                                    color: #fff;
                                    box-shadow: 0 0 0 $colorMain;
                                    transform: translateY(8px);
                                    box-shadow: none;
                                }

                                .currentWorksLinkText {
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }
        }

        #career {
            .sectionInner {

                .sectionTitleGroup {
                    text-align: start;
                }

                .careerHighlightList {
                    margin-top: 32px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 16px;

                    .careerHighlightItem {
                        padding: 0px 16px 2px 16px;
                        border-radius: 50vh;
                        border: 1px solid $colorBlack;
                        font-size: 16px;
                    }
                }


                .careerTimelineList {
                    margin-top: 40px;

                    .careerTimelineItem {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 40px;
                        padding-inline: 32px;
                        padding-block: 40px;
                        border-top: 1px solid rgba(0, 0, 0, 0.4);

                        @media screen and (max-width: $tabletBreakPoint) {
                            padding-inline: 0;
                        }

                        &::after {
                            font-size: 100px;
                            line-height: 1;
                            font-family: $fontEmoji;

                            @media screen and (max-width: $pcSmallBreakPoint) {
                                font-size: 8vw;

                            }

                            @media screen and (max-width: $spBreakPoint) {
                                display: none !important;
                            }

                        }


                        &:last-child {
                            padding-bottom: 0;
                        }

                        .careerTimelineItemInner {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            gap: 16px;

                            .careerTimelineEvent {
                                font-size: 32px;

                                @media screen and (max-width: $spBreakPoint) {
                                    font-size: 6vw;
                                    font-weight: bold;
                                }
                            }

                            .careerTimelineDescription {
                                word-break: keep-all;
                                overflow-wrap: anywhere;
                            }
                        }
                    }

                    .careerTimelineItem:nth-child(1)::after {
                        content: "🏝️";
                    }

                    .careerTimelineItem:nth-child(2)::after {
                        content: "🏫";
                    }

                    .careerTimelineItem:nth-child(3)::after {
                        content: "🗼";
                    }

                    .careerTimelineItem:nth-child(4)::after {
                        content: "🖥️";
                    }

                    .careerTimelineItem:nth-child(5)::after {
                        content: "🏢";
                    }

                    .careerTimelineItem:nth-child(6)::after {
                        content: "✈️";
                    }
                }
            }
        }

        #works {
            .sectionInner {
                .worksCardArea {
                    margin-top: 64px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .worksCard {
                        pointer-events: none;
                        width: 40%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 24px;
                        padding: 24px;
                        border-radius: $borderRadiusMain;
                        background: #fff;
                        border: 1px solid $colorBlack;
                        box-shadow: 0px 5px 0px 0px $colorBlack;

                        transform: scale(0.6);

                        &--active {
                            pointer-events: auto;
                            transform: scale(1);

                            animation-name: fadeIn;
                            animation-duration: 0.5s;
                            animation-timing-function: $easeInOutQuint;

                            @keyframes fadeIn {
                                0% {
                                    opacity: 0;
                                }

                                100% {
                                    opacity: 1;
                                }
                            }
                        }

                        .worksCardThumbnailWrapper {
                            width: 100%;
                            height: auto;
                            aspect-ratio: 16 / 9;

                            .worksCardThumbnail {
                                width: 100%;
                                height: 100%;
                                aspect-ratio: 16 / 9;
                                object-fit: cover;
                                border-radius: $borderRadiusMain;
                            }
                        }

                        .worksCardTitleArea {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            .worksCardClientName {
                                font-weight: bold;
                                color: $colorMain;
                            }

                            .worksCardTitle {
                                font-size: 32px;
                                line-height: 1.5;
                                text-align: center;
                            }
                        }

                        .worksCardDescription {}
                    }
                }
            }
        }
    }

    footer {
        height: 400px;
        padding-block: 40px 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: $colorBlack;

        @media screen and (max-width: $spBreakPoint) {
            height: auto;
            gap: 40px;
        }

        .sectionTitleGroup {
            color: #fff;
        }

        .snsIconList {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;

            @media screen and (max-width: $spBreakPoint) {
                gap: 24px;
            }

            .snsIconItem {
                img {
                    width: 56px;
                    aspect-ratio: 1 / 1;

                    @media screen and (max-width: $spBreakPoint) {
                        width: 40px;
                    }
                }
            }

            .mailIconItem {
                cursor: pointer;

                img {
                    width: 64px;
                    aspect-ratio: auto;

                    @media screen and (max-width: $spBreakPoint) {
                        width: 46px;
                    }
                }
            }

            .snsIconItem,
            .mailIconItem {
                transition-duration: 0.3s;
                transition-timing-function: $easeInOutQuint;
            }

            .snsIconItem:hover,
            .mailIconItem:hover {
                transform: scale(1.2);
            }
        }

        .copyright {
            color: #fff;
        }
    }

    .mailModal {
        z-index: 501;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 400px;
        display: none;
        align-items: center;
        justify-content: center;
        border-radius: $borderRadiusMain;
        background: #fff;
        border: 1px solid $colorBlack;
        box-shadow: 0px 4px 0px 0px $colorBlack;
        transition-duration: 0.8s;

        @media screen and (max-width: $tabletBreakPoint) {
            height: 200px;
        }

        @media screen and (max-width: $spBreakPoint) {
            width: 90%;
            height: 160px;
        }

        &--active {
            display: flex;
        }

        .mailModalInner {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 32px;

            @media screen and (max-width: $tabletBreakPoint) {
                flex-direction: column-reverse;
                gap: 16px;
            }

            @media screen and (max-width: $spBreakPoint) {
                gap: 8px;
            }

            .mailModalAddress {
                font-family: $fontSub;
                font-size: 3vw;
                font-weight: bold;

                @media screen and (max-width: $spBreakPoint) {
                    font-size: 4.5vw;
                }

                &--copied {
                    color: #0089A7;
                    font-size: 7vw;
                }
            }

            .mailModalCopy {
                cursor: pointer;
                font-size: 40px;
                font-weight: 500;
                color: $colorMain;

                @media screen and (max-width: $spBreakPoint) {
                    font-size: 32px;
                }

                &:active {
                    transform: scale(0.9);
                }

                &--copied {
                    display: none;
                }
            }
        }
    }

    .mailModalBg {
        pointer-events: none;
        z-index: 500;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0);
        transition-duration: 0.8s;
    }

    .mailModalBg--visible {
        pointer-events: auto;
        background: rgba($colorMain, 0.7);
    }
}