@use "./reset";
@use "./var" as *;

body {
    background: $colorLightGray;
    font-family: $fontMain;

    header {
        z-index: 100;
        position: fixed;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);

        .headerInner {
            height: 80px;
            width: 1000px;
            margin-inline: auto;
            display: flex;
            align-items: center;
            justify-content: center;

            .headerNav {
                z-index: 11;
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: 12px 12px;
                border-radius: 50vh;
                background: #fff;

                .currentItem {
                    z-index: 12;
                    position: absolute;
                    left: 12px;
                    width: calc((100% - 24px) / 6);
                    height: calc(100% - 24px);
                    background: #000;
                    border-radius: 50vh;
                }

                .headerNavItem {
                    z-index: 13;
                    cursor: pointer;
                    width: calc(100% / 6);
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50vh;

                    &--current {
                        color: #fff;
                    }
                }
            }
        }
    }

    main {
        margin-top: 160px;

        #introduction {

            .sectionInner {
                padding-top: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                .introductionImageWrapper {
                    width: 50%;
                    height: auto;
                    aspect-ratio: 1 / 1;
                    object-fit: cover;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: $borderRadiusMain;
                    }
                }

                .introductionTextAreaWrapper {
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .introductionTextArea {

                        .introductionEnglishName {
                            font-size: 32px;
                            font-family: $fontSub;
                            color: $colorDarkGray;
                        }

                        .introductionJapaneseName {
                            font-size: 88px;
                            font-weight: bold;

                            span {
                                color: $colorMain;
                            }
                        }

                        .introductionProfile {
                            margin-top: 24px;
                        }
                    }
                }
            }
        }

        #skills {
            .sectionInner {
                .skillsCardArea {
                    margin-top: 64px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    column-gap: 48px;
                    row-gap: 64px;

                    .skillsCard {
                        position: relative;
                        width: calc((100% - 48px) / 2);
                        aspect-ratio: 5 / 2;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 24px 0 24px 24px;
                        border-radius: $borderRadiusMain;
                        background: #fff;
                        border: 1px solid $colorBlack;
                        box-shadow: 0px 5px 0px 0px $colorBlack;

                        .skillsCardExperience {
                            position: absolute;
                            top: 0;
                            left: 24px;
                            transform: translateY(-50%);
                            display: flex;
                            align-items: center;
                            gap: 6px;
                            padding: 8px 16px 4px 16px;
                            border-radius: $borderRadiusSmall;
                            background: $colorMain;
                            font-family: $fontSub;
                            color: #fff;

                            .skillsCardExperienceNum {
                                line-height: 1;
                                font-size: 32px;
                            }

                            .skillsCardExperienceText {
                                line-height: 1;
                                font-size: 16px;
                            }
                        }

                        .skillsCardTextArea {

                            .skillsCardEnglishTitle {
                                font-family: $fontSub;
                                color: $colorMain;
                            }

                            .skillsCardTitle {
                                font-size: 48px;
                                font-weight: 400;
                            }

                            .skillsCardDescription {
                                margin-top: 16px;
                            }
                        }

                        .skillsCardIconArea {
                            flex: 1;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .emoji {
                                font-size: 88px;
                            }
                        }
                    }

                    .skillsCard--movie {
                        .skillsCardExperience {
                            background: #A045AB;
                        }
                    }

                    .skillsCard--lecturer,
                    .skillsCard--sns {
                        .skillsCardExperience {
                            background: $colorMain;
                        }
                    }

                    .skillsCard--web {
                        .skillsCardExperience {
                            background: #5BAE70;
                        }
                    }
                }
            }
        }

        #currentWorks {
            // clip-path: polygon(0% 5%, 100% 0%, 100% 95%, 0% 100%);
            position: relative;
            width: calc(100% - 48px);
            height: calc(100vh - 48px);
            margin-inline: auto;
            background: linear-gradient(45deg, #ebedee, #e0c3fc, #8ec5fc, #ebedee);
            background-size: 200% 200%;
            animation: bgGradient 8s ease infinite;
            border-radius: $borderRadiusMain;
            overflow: hidden;

            @keyframes bgGradient {
                0% {
                    background-position: 0% 50%;
                }

                50% {
                    background-position: 100% 50%;
                }

                100% {
                    background-position: 0% 50%;
                }
            }

            .currentWorksBgNoise {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 0.1;
                filter: brightness(5);
            }

            .sectionInner {
                display: flex;
                flex-direction: column;
                gap: 64px;
                width: 100%;
                height: 100%;
                padding-top: 180px;
                z-index: 1;

                .currentWorksMainArea {
                    display: flex;
                    height: 100%;
                    width: 100%;
                    max-width: 1400px;
                    margin-inline: auto;
                    align-items: center;
                    justify-content: center;

                    .currentWorksMainAreaLeft {
                        width: auto;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 40px;


                        .currentJobLogoWrapper {
                            cursor: pointer;
                            width: 72px;
                            height: 72px;
                            aspect-ratio: 1 / 1;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: $borderRadiusSmall;
                            background: #fff;
                            border: 1px solid $colorBlack;
                            opacity: 0.5;


                            img {
                                width: 70%;
                                aspect-ratio: 1 / 1;
                                object-fit: cover;
                            }
                        }

                        .currentJobLogoWrapper.currentJobLogoWrapper--active {
                            // cursor: default;
                            width: 120px;
                            height: 120px;
                            opacity: 1;
                        }
                    }

                    .currentWorksMainAreaRight {
                        flex: 1;
                        height: 100%;
                        margin-left: 100px;

                        .currentWorksDetail {
                            display: none;
                            width: 100%;
                            height: 100%;
                            flex-direction: column;
                            justify-content: center;
                            gap: 40px;

                            &--active {
                                display: flex;
                            }

                            .currentWorksDetailTitle {
                                font-size: 64px;
                                font-weight: 500;

                                span {
                                    color: $colorMain;
                                }
                            }

                            .currentWorksDetailDescription {
                                br {
                                    line-height: 1.2;
                                }
                            }

                            .currentWorksSkillsList {
                                display: flex;
                                flex-wrap: wrap;
                                gap: 16px;


                                .currentWorksSkillsItem {
                                    padding: 0px 16px 2px 16px;
                                    border-radius: 50vh;
                                    border: 1px solid $colorBlack;
                                }
                            }

                            .currentWorksLink {
                                cursor: pointer;
                                padding-block: 6px 8px;
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: $borderRadiusSmall;
                                background: $colorBlack;
                                color: #fff;

                                .currentWorksLinkText {
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }
        }

        #career {
            .sectionInner {

                .sectionTitleGroup {
                    text-align: start;
                }

                .careerHighlightList {
                    margin-top: 32px;
                    display: flex;
                    align-items: center;
                    gap: 16px;

                    .careerHighlightItem {
                        padding: 0px 16px 2px 16px;
                        border-radius: 50vh;
                        border: 1px solid $colorBlack;
                        font-size: 16px;
                    }
                }


                .careerTimelineList {
                    margin-top: 40px;

                    .careerTimelineItem {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding-inline: 32px;
                        padding-block: 40px;
                        border-top: 1px solid rgba(0, 0, 0, 0.4);

                        &::after {
                            font-size: 100px;
                            line-height: 1;
                            font-family: $fontEmoji;
                        }


                        &:last-child {
                            padding-bottom: 0;
                        }

                        .careerTimelineItemInner {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            gap: 16px;

                            .careerTimelineEvent {
                                font-size: 32px;
                            }
                        }
                    }

                    .careerTimelineItem:nth-child(1)::after {
                        content: "🏝️";
                    }

                    .careerTimelineItem:nth-child(2)::after {
                        content: "🏫";
                    }

                    .careerTimelineItem:nth-child(3)::after {
                        content: "🗼";
                    }

                    .careerTimelineItem:nth-child(4)::after {
                        content: "🖥️";
                    }

                    .careerTimelineItem:nth-child(5)::after {
                        content: "🏢";
                    }

                    .careerTimelineItem:nth-child(6)::after {
                        content: "✈️";
                    }
                }
            }
        }

        #works {
            .sectionInner {
                .worksCardArea {
                    margin-top: 64px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .worksCard {
                        pointer-events: none;
                        width: 40%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 24px;
                        padding: 24px;
                        border-radius: $borderRadiusMain;
                        background: #fff;
                        border: 1px solid $colorBlack;
                        box-shadow: 0px 5px 0px 0px $colorBlack;

                        transform: scale(0.6);

                        &--active {
                            pointer-events: auto;
                            transform: scale(1);
                        }

                        .worksCardThumbnailWrapper {
                            width: 100%;
                            height: auto;
                            aspect-ratio: 16 / 9;

                            .worksCardThumbnail {
                                width: 100%;
                                height: 100%;
                                aspect-ratio: 16 / 9;
                                object-fit: cover;
                                border-radius: $borderRadiusMain;
                            }
                        }

                        .worksCardTitleArea {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            .worksCardClientName {
                                font-weight: bold;
                                color: $colorMain;
                            }

                            .worksCardTitle {
                                font-size: 32px;
                                line-height: 1.5;
                                text-align: center;
                            }
                        }

                        .worksCardDescription {}
                    }
                }
            }
        }
    }

    footer {
        height: 400px;
        padding-block: 40px 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: $colorBlack;

        .sectionTitleGroup {
            color: #fff;
        }

        .snsIconList {
            display: flex;
            align-items: center;
            gap: 40px;

            .mailIconItem {
                cursor: pointer;
            }
        }

        .copyright {
            color: #fff;
        }
    }
}