@charset "UTF-8";
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

* {
  font-feature-settings: "palt";
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 1.8;
  color: #333;
}

h1,
h2,
h3 {
  line-height: 1;
}

main {
  position: relative;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.brSpOnly {
  display: none;
}
@media screen and (width <= 480px) {
  .brSpOnly {
    display: inline;
  }
}

.sectionInner {
  width: 100%;
  max-width: 1400px;
  margin-inline: auto;
  padding-block: 80px;
}

.sectionTitleGroup {
  text-align: center;
}
.sectionTitleGroup .sectionSubTitle {
  line-height: 1;
  font-family: "Shrikhand", cursive;
  font-size: 64px;
  font-weight: bold;
}
.sectionTitleGroup .sectionTitle {
  margin-top: 8px;
  font-weight: bold;
  color: #0089A7;
}

.emoji {
  font-family: "Apple Color Emoji", "Noto Color Emoji";
}

.brLineHeight1 {
  line-height: 1.2;
}

body {
  background: #f5f5f5;
  font-family: "Zen Kaku Gothic New", sans-serif;
}
body header {
  z-index: 100;
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}
body header .headerInner {
  height: 80px;
  width: 1000px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header .headerInner .headerNav {
  z-index: 11;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 12px 12px;
  border-radius: 50vh;
  background: #fff;
}
body header .headerInner .headerNav .currentItem {
  z-index: 12;
  position: absolute;
  left: 12px;
  width: calc((100% - 24px) / 6);
  height: calc(100% - 24px);
  background: #000;
  border-radius: 50vh;
}
body header .headerInner .headerNav .headerNavItem {
  z-index: 13;
  cursor: pointer;
  width: 16.6666666667%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50vh;
}
body header .headerInner .headerNav .headerNavItem--current {
  color: #fff;
}
body main {
  margin-top: 160px;
}
body main #introduction .sectionInner {
  padding-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main #introduction .sectionInner .introductionImageWrapper {
  width: 50%;
  height: auto;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
body main #introduction .sectionInner .introductionImageWrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
body main #introduction .sectionInner .introductionTextAreaWrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main #introduction .sectionInner .introductionTextAreaWrapper .introductionTextArea .introductionEnglishName {
  font-size: 32px;
  font-family: "Shrikhand", cursive;
  color: #707070;
}
body main #introduction .sectionInner .introductionTextAreaWrapper .introductionTextArea .introductionJapaneseName {
  font-size: 88px;
  font-weight: bold;
}
body main #introduction .sectionInner .introductionTextAreaWrapper .introductionTextArea .introductionJapaneseName span {
  color: #0089A7;
}
body main #introduction .sectionInner .introductionTextAreaWrapper .introductionTextArea .introductionProfile {
  margin-top: 24px;
}
body main #skills .sectionInner .skillsCardArea {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 48px;
       column-gap: 48px;
  row-gap: 64px;
}
body main #skills .sectionInner .skillsCardArea .skillsCard {
  position: relative;
  width: calc((100% - 48px) / 2);
  aspect-ratio: 5/2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0 24px 24px;
  border-radius: 12px;
  background: #fff;
  border: 1px solid #333;
  box-shadow: 0px 5px 0px 0px #333;
}
body main #skills .sectionInner .skillsCardArea .skillsCard .skillsCardExperience {
  position: absolute;
  top: 0;
  left: 24px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 16px 4px 16px;
  border-radius: 6px;
  background: #0089A7;
  font-family: "Shrikhand", cursive;
  color: #fff;
}
body main #skills .sectionInner .skillsCardArea .skillsCard .skillsCardExperience .skillsCardExperienceNum {
  line-height: 1;
  font-size: 32px;
}
body main #skills .sectionInner .skillsCardArea .skillsCard .skillsCardExperience .skillsCardExperienceText {
  line-height: 1;
  font-size: 16px;
}
body main #skills .sectionInner .skillsCardArea .skillsCard .skillsCardTextArea .skillsCardEnglishTitle {
  font-family: "Shrikhand", cursive;
  color: #0089A7;
}
body main #skills .sectionInner .skillsCardArea .skillsCard .skillsCardTextArea .skillsCardTitle {
  font-size: 48px;
  font-weight: 400;
}
body main #skills .sectionInner .skillsCardArea .skillsCard .skillsCardTextArea .skillsCardDescription {
  margin-top: 16px;
}
body main #skills .sectionInner .skillsCardArea .skillsCard .skillsCardIconArea {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main #skills .sectionInner .skillsCardArea .skillsCard .skillsCardIconArea .emoji {
  font-size: 88px;
}
body main #skills .sectionInner .skillsCardArea .skillsCard--movie .skillsCardExperience {
  background: #A045AB;
}
body main #skills .sectionInner .skillsCardArea .skillsCard--lecturer .skillsCardExperience,
body main #skills .sectionInner .skillsCardArea .skillsCard--sns .skillsCardExperience {
  background: #0089A7;
}
body main #skills .sectionInner .skillsCardArea .skillsCard--web .skillsCardExperience {
  background: #5BAE70;
}
body main #currentWorks {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #ebedee, #e0c3fc, #8ec5fc, #ebedee);
  background-size: 200% 200%;
  animation: bgGradient 8s ease infinite;
  border-radius: 12px;
  overflow: hidden;
}
@keyframes bgGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body main #currentWorks .currentWorksBgNoise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.1;
  filter: brightness(5);
}
body main #currentWorks .sectionInner {
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: 100%;
  height: 100%;
  padding-top: 180px;
  z-index: 1;
}
body main #currentWorks .sectionInner .currentWorksMainArea {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 1400px;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
}
body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaLeft {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaLeft .currentJobLogoWrapper {
  cursor: pointer;
  width: 72px;
  height: 72px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: #fff;
  border: 1px solid #333;
  opacity: 0.5;
}
body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaLeft .currentJobLogoWrapper img {
  width: 70%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaLeft .currentJobLogoWrapper.currentJobLogoWrapper--active {
  width: 120px;
  height: 120px;
  opacity: 1;
}
body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaRight {
  flex: 1;
  height: 100%;
  margin-left: 100px;
}
body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaRight .currentWorksDetail {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaRight .currentWorksDetail--active {
  display: flex;
}
body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaRight .currentWorksDetail .currentWorksDetailTitle {
  font-size: 64px;
  font-weight: 500;
}
body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaRight .currentWorksDetail .currentWorksDetailTitle span {
  color: #0089A7;
}
body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaRight .currentWorksDetail .currentWorksDetailDescription br {
  line-height: 1.2;
}
body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaRight .currentWorksDetail .currentWorksSkillsList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaRight .currentWorksDetail .currentWorksSkillsList .currentWorksSkillsItem {
  padding: 0px 16px 2px 16px;
  border-radius: 50vh;
  border: 1px solid #333;
}
body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaRight .currentWorksDetail .currentWorksLink {
  cursor: pointer;
  padding-block: 6px 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: #333;
  color: #fff;
}
body main #currentWorks .sectionInner .currentWorksMainArea .currentWorksMainAreaRight .currentWorksDetail .currentWorksLink .currentWorksLinkText {
  font-weight: 600;
}
body main #career .sectionInner .sectionTitleGroup {
  text-align: start;
}
body main #career .sectionInner .careerHighlightList {
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 16px;
}
body main #career .sectionInner .careerHighlightList .careerHighlightItem {
  padding: 0px 16px 2px 16px;
  border-radius: 50vh;
  border: 1px solid #333;
  font-size: 16px;
}
body main #career .sectionInner .careerTimelineList {
  margin-top: 40px;
}
body main #career .sectionInner .careerTimelineList .careerTimelineItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 32px;
  padding-block: 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}
body main #career .sectionInner .careerTimelineList .careerTimelineItem::after {
  font-size: 100px;
  line-height: 1;
  font-family: "Apple Color Emoji", "Noto Color Emoji";
}
body main #career .sectionInner .careerTimelineList .careerTimelineItem .careerTimelineItemInner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body main #career .sectionInner .careerTimelineList .careerTimelineItem .careerTimelineItemInner .careerTimelineEvent {
  font-size: 32px;
}
body main #career .sectionInner .careerTimelineList .careerTimelineItem:nth-child(1)::after {
  content: "🏝️";
}
body main #career .sectionInner .careerTimelineList .careerTimelineItem:nth-child(2)::after {
  content: "🏫";
}
body main #career .sectionInner .careerTimelineList .careerTimelineItem:nth-child(3)::after {
  content: "🗼";
}
body main #career .sectionInner .careerTimelineList .careerTimelineItem:nth-child(4)::after {
  content: "🖥️";
}
body main #career .sectionInner .careerTimelineList .careerTimelineItem:nth-child(5)::after {
  content: "🏢";
}
body main #career .sectionInner .careerTimelineList .careerTimelineItem:nth-child(6)::after {
  content: "✈️";
}
body footer {
  padding-block: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */